 <div class="modal-body" style="background-color: black; color: white; font-size: 20px;" >
   <div class="text-center">
      <td><strong>Brand name :</strong></td>
      <td><%= mobile.brand_name %></td><br>
      <td><strong>Ram :</strong></td>
      <td> <%= mobile.ram %></td><br>
      <td><strong>Rom :</strong></td>
      <td><%= mobile.rom %></td><br>
      <td><strong>Price :</strong></td>
      <td><%= mobile.price %></td>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
   </div>
 </div>